apiVersion: v1
kind: Service
metadata:
  name: user-service-api
  namespace: polaris-apps
spec:
  type: NodePort
  selector:
    app: user-service
  ports:
    - name: http
      port: 80
      nodePort: 30001
      targetPort: 8000
