apiVersion: v1
kind: Service
metadata:
  name: order-service-api
  namespace: polaris-apps
spec:
  type: ClusterIP
  selector:
    app: order-service
  ports:
    - name: http
      port: 80
      targetPort: 8000
